<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="@string/version_name" package="alpvax.rau">

    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="22"/>

    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    
    <permission android:name="com.example.gcm.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE"/>
    
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <permission android:name="alpvax.rau.permission.C2D_MESSAGE" android:protectionLevel="signature"/>

   <uses-permission android:name="alpvax.rau.permission.C2D_MESSAGE"/>
   <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
   <application android:allowBackup="true" android:icon="@drawable/ic_launcher" android:label="@latinString/app_name" android:theme="@style/AppTheme">
        <!-- android:name="alpvax.rau.AppStart" > -->
        <receiver android:exported="true" android:name="com.google.android.gms.gcm.GcmReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="alpvax.rau"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:name=".messaging.RauGcmListenerService">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>
        <service android:exported="false" android:name=".messaging.RauIIDListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <activity android:label="@latinString/app_name" android:name=".MainActivity" android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="@latinString/app_name" android:name=".MainActivity" android:theme="@style/AppTheme">
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:label="@latinString/title_activity_settings" android:name=".util.settings.SettingsFragment$SettingsActivity" android:parentActivityName=".android.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="alpvax.rau.android.MainActivity"/>
        </activity>
        <service android:name=".GCMIntentService"/>
        <receiver android:name="com.google.android.gcm.GCMBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="alpvax.rau"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="alpvax.rau"/>
            </intent-filter>
        </receiver>
    
        <activity android:launchMode="singleTop" android:name=".RegisterActivity"/>
</application>

</manifest>